<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" version="1.0.0" id="org.[seunome].[nomedoapp]">
    <name>NOME DO APP</name>
    <description>
        DESCRIÇÃO DO APP
    </description>
    <author>
        SEU NOME
    </author>
    <icon src="icone.png"/>
    <gap:splash src="teladecarregamento.png"/>
</widget>